:host {
  display: inline-flex;
  overflow: hidden;
}

:host([column]) {
  flex-direction: column;
}

::slotted(wx-button:not(:first-of-type):not(:last-of-type)) {
  border-radius: 0;
}

::slotted(wx-button) {
  margin: 0 !important;
}

::slotted(wx-button:not(:first-of-type)) {
  margin-left: -1px !important;
}

::slotted(wx-button[type]:not([type="dashed"]):not(:first-of-type)) {
  margin-left: 1px !important;
}

::slotted(wx-button:first-of-type) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
}

::slotted(wx-button:last-of-type) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}